body, html { 
    height: 100%; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121; /* Dark background */
}

#musicPlayer {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: #303030; /* Slightly lighter background */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #424242; /* Button color */
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:active {
    background-color: #5a5a5a; /* Active/pressed state */
}

.button img {
    width: 30px;
    height: 30px;
}
